div.navbar.navbar-inverse.navbar-static-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.bitelio(href='/') bitelio

    div.navbar-collapse.collapse(uib-collapse='$ctrl.isCollapsed')
      ul.nav.navbar-nav
        li(uib-dropdown on-toggle="toggle(open)")
          a(href uib-dropdown-toggle) {{ $ctrl.currentBoard }}&nbsp
            span.caret(ng-if="$ctrl.availableBoards")
          ul.dropdown-menu(uib-dropdown-menu aria-labelledby="boards-menu")
            li(ng-repeat="board in $ctrl.availableBoards")
              a(href, ng-click="$ctrl.select(board)")
                i.fa.fa-angle-right.fa-fw
                | {{ board }}

      ul.nav.navbar-nav.navbar-right
        li.dropdown.dropdown-notifications(uib-dropdown on-toggle="toggle(open)")
          a(href uib-dropdown-toggle)
            i.fa.fa-bell
        li(uib-dropdown on-toggle="toggle(open)")
          a(href uib-dropdown-toggle) {{ $ctrl.username }}&nbsp
            span.caret
          ul.dropdown-menu(uib-dropdown-menu aria-labelledby="user-menu")
            li: a(ui-sref='account')
              i.fa.fa-user.fa-fw
              | Account
            li.divider(role="separator")
            li: a(ui-sref='bitelio.com')
              i.fa.fa-sign-out.fa-fw
              | Log out
